@import "../../styles/variables";
@import "../../styles/mixins";
.content {
  position: relative;
  height: 1100px;
  display: flex;
  justify-content: center;
  // background-color: blue;
}

.portfolio {
  margin-top: 0px;
  // background-color: red;
  width: 976px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0 10px 0;
}

.box {
  height: 314px;
  width: 314px;
}

.visible__area {
  width: 100%;
  overflow: hidden;
  margin-top: -70px;

  @include small-screen {
    margin-top: 0px;
  }
}

.text__content {
  width: 1900px;
  height: 60px;
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: row;
  animation: scrollText 15s linear infinite;

  font-size: 24px;
  font-family: "Raleway";
  font-weight: 400;
  color: rgba(195, 212, 0, 1);
  letter-spacing: 2px;
}

.text p {
  margin-right: 100px;
}

@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-95%);
  }
}

.mobile__section {
  width: 100%;
  overflow-x: auto;
}

.mobile__portfolio {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
