@mixin x-large-screen() {
  @media only screen and (max-width: 1920px) {
    @content;
  }
}

@mixin large-screen() {
  @media only screen and (max-width: 1280px) {
    @content;
  }
}

@mixin medium-screen() {
  @media only screen and (max-width: 720px) {
    @content;
  }
}

@mixin small-screen() {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin center-content($type: xy) {
  position: absolute;
  left: 50%;

  @if $type == xy {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  } @else if $type == x {
    left: 50%;
    transform: translateX(-50%);
  } @else if $type == y {
    top: 50%;
    transform: translateY(-50%);
  }
}
