@mixin hide-text($move: 0px, $margin: margin-top) {
  height: 200px;
  width: 100%;
  //   background-color: purple;
  background-color: $backgroun-color;
  @if $margin == margin-top {
    margin-top: $move;
  } @else if $margin == margin-bottom {
    margin-bottom: $move;
  }
  position: relative;
  z-index: 2;
}
