.elipse {
  height: 120%;
  flex-shrink: 0;
  border-radius: 500px;
  background: #ededed;
  box-shadow: -20px 0px 21px 0px rgba(0, 0, 0, 0.1) inset,
    -6px 0px 18px 2px rgba(0, 0, 0, 0.41) inset,
    -10px 10px 15px 0px rgba(0, 0, 0, 0.25), 10px -10px 15px 0px #fff;
  position: absolute;
  left: calc(50% - 217px / 2);
  transition: width 1s, left 1s, top 1s;
}

.shape {
  width: 118.171px;
  height: 165.314px;
  transform: rotate(90deg);
  flex-shrink: 0;
  position: absolute;
  top: 100px;
  left: calc(50% - 118.171px / 2 - 20px);
}
