.box {
  height: 750px;
  width: 1000px;
  opacity: 0.3;
  background: #ededed;
  box-shadow: -52.719px 0px 55.355px 0px rgba(0, 0, 0, 0.1) inset,
    -15.816px 0px 47.447px 5.272px rgba(0, 0, 0, 0.41) inset,
    -26.359px 26.359px 39.539px 0px rgba(0, 0, 0, 0.25),
    26.359px -26.359px 39.539px 0px #fff;
  margin-left: calc(50% - 500px);
  position: relative;
  z-index: 1;
}

.logo {
  position: absolute;
  z-index: 2;
  left: calc(50% - 515px / 2);
  top: 450px;
}
