.box {
  height: 750px;
  width: 1000px;
  opacity: 0.3;
  background: #ededed;
  box-shadow: -52.719px 0px 55.355px 0px rgba(0, 0, 0, 0.1) inset,
    -15.816px 0px 47.447px 5.272px rgba(0, 0, 0, 0.41) inset,
    -26.359px 26.359px 39.539px 0px rgba(0, 0, 0, 0.25),
    26.359px -26.359px 39.539px 0px #fff;
  margin-left: calc(50% - 500px);
  position: relative;
  z-index: 1;
}

.elipse {
  width: 217px;
  height: 744px;
  flex-shrink: 0;
  border-radius: 500px;
  background: #ededed;
  box-shadow: -20px 0px 21px 0px rgba(0, 0, 0, 0.1) inset,
    -6px 0px 18px 2px rgba(0, 0, 0, 0.41) inset,
    -10px 10px 15px 0px rgba(0, 0, 0, 0.25), 10px -10px 15px 0px #fff;
  position: absolute;
  top: -400px;
  left: calc(50% - 217px / 2);
}

.shape1 {
  width: 118.171px;
  height: 165.314px;
  transform: rotate(90deg);
  flex-shrink: 0;
  position: absolute;
  top: 100px;
  left: calc(50% - 118.171px / 2 - 20px);
}
