@import "../styles/variables";
@import "../styles/functions";
@import "../styles/mixins";

$transition: 0.5s;

.content {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 80vh;

  //   background-color: green;
  // padding: 5%;
}

.content__box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: blue;
  align-items: center;
}

.part {
  margin-top: -50px;
  width: 255px;
  height: 438px;
  //   background-color: red;
}

.part2 {
  margin-top: 40px;
  width: 202px;
  height: 538px;
  //   background-color: red;
  display: flex;
  flex-direction: column;
}

.group {
  width: 100%;
  height: 343px;
  //   background-color: yellow;
  position: relative;
}

.frame {
  width: 100%;
  height: 95px;
}

.frame2 {
  width: 100%;
  height: 145px;
}

$circle-width: 202px;

.circle {
  width: $circle-width;
  height: $circle-width;
  flex-shrink: 0;
  border-radius: 100px;
  background: $color-neon;
  z-index: 4;
  cursor: pointer;
  transition: height $transition ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 1;

  &:hover {
    height: 404px;

    @include move-circle-title;
  }
}

.circle__title {
  width: 60%;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  transition: margin-top $transition ease;
}

.circle__title2 {
  width: 60%;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  transition: margin-top $transition ease;
}

.circle__text {
}

$elipse-width: 137px;

.elipse {
  width: $elipse-width;
  height: 245px;
  flex-shrink: 0;

  border-radius: 764.98px 764.98px 764.977px 764.977px;
  opacity: 0.6;
  background: #ededed;
  mix-blend-mode: multiply;
  box-shadow: -30.599px 0px 32.129px 0px rgba(0, 0, 0, 0.1) inset,
    -9.18px 0px 27.539px 3.06px rgba(0, 0, 0, 0.41) inset,
    -15.3px 15.3px 22.949px 0px rgba(0, 0, 0, 0.25),
    15.3px -15.3px 22.949px 0px #fff;
  z-index: 5;

  &:hover + .circle {
    height: 404px;

    @include move-circle-title;
  }
}

$distance1: distance-in-elipse($elipse-width, 78.749px);

.svg1 {
  width: 78.749px;
  height: 68.905px;
  flex-shrink: 0;
  //   background-color: aqua;
  position: absolute;
  left: $distance1;
  top: $distance1 + 5px;
}

$distance2: distance-in-elipse($circle-width, 78.749px);

.svg2 {
  width: 78.749px;
  height: 68.905px;
  flex-shrink: 0;
  //   background-color: aqua;
  position: absolute;
  left: $distance2;
  bottom: $distance2 - 20px;
}

$distance3: distance-in-elipse($elipse-width, 68.847px);

.svg3 {
  width: 68.847px;
  height: 68.905px;
  flex-shrink: 0;
  //   background-color: aqua;
  position: absolute;
  right: $distance3;
  top: $distance3;
}

.circle__title {
  // padding-top: $circle-width/2 - 10px;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 900;
}

.circle__text {
}
